---
import {Icon} from 'astro-icon';
import {CollectionEntry} from 'astro:content';
import 'github-markdown-css/github-markdown.css';
import './markers.css';

interface Props {
	post: CollectionEntry<'posts'>;
}

const {post} = Astro.props;

const {Content} = await post.render();
---

<script>
	import {createPostNavigationHref} from '../../hrefs';

	// if params contain page set #posts-go-back href to /posts?page={page}
	const params = new URLSearchParams(window.location.search);
	const page = params.get('page');
	if (page && page !== '1') {
		const postsGoBack = document.getElementById('posts-go-back');
		if (postsGoBack && 'href' in postsGoBack) {
			postsGoBack.href = createPostNavigationHref(Number(page));
		}
	}
</script>

<div class="container">
	<nav class="flex flex-wrap justify-between items-center my-2">
		<span>
			Published:
			{post.data.date.toISOString().substring(0, 10)}
		</span>
		<div>
			{
				post.data.tags.map((tag) => (
					<div class="badge badge-sm badge-outline badge-info">{tag}</div>
				))
			}
		</div>
		<a id="posts-go-back" href="/posts" class="btn btn-sm btn-outline btn-secondary">
			<Icon name="mdi:step-backward" height="80%" />
		</a>
	</nav>
	<div class="divider"></div>
	<article class="markdown-body">
		<Content />
	</article>
	<div class="divider">Comment section</div>
	<giscus-widget
		repo="skornel02/skornel02"
		repoid="R_kgDOG9KgxQ"
		category="Comment section"
		categoryid="DIC_kwDOG9Kgxc4CPOyt"
		mapping="title"
		reactionsEnabled="1"
		emitMetadata="0"
		inputPosition="top"
		theme="preferred_color_scheme"
		loading="lazy"
		lang="en"></giscus-widget>
</div>

<script>
	import 'giscus';
</script>
