---
import type {UrlLink} from '../../schemas/competition';

interface Props {
    url: UrlLink;
}

const {url} = Astro.props;

url.buttonClass += " join-item";
---

<div class="tooltip" data-tip={url.name}>
    <a href={url.href} class={url.buttonClass} target="_blank">
        <slot name="icon" />
    </a>
</div>